@model Offers.Core.Catlog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Catlog</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CatLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
