@model IEnumerable<Offers.Core.Catlog>

<ul class="nav nav-list">

@foreach (var item in Model) {
   <li>
   <a href="@Url.Action("Offers", "Home", new {id=item.CatLogId })">@item.Name</a>
   </li>
}

</ul>
